
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0f0f0f;
  color: #fff;
  text-align: center;
}
header {
  background: #111;
  padding: 20px;
}
.logo {
  width: 80px;
  border-radius: 12px;
}
.project-card {
  background: #1e1e1e;
  margin: 20px auto;
  padding: 20px;
  width: 300px;
  border-radius: 16px;
  box-shadow: 0 0 20px #00ffc8;
}
.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: linear-gradient(145deg, #00ffc8, #00aabb);
  border: none;
  color: #000;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}
.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #00ffc8;
}
footer {
  margin-top: 50px;
  font-size: 0.9rem;
  color: #888;
}
